### ITERATIONS IN PYTHON

### FOR LOOP

In [1]:
#list of colors
colors=["red","green","blue"]
for color in colors:
    print(color)

red
green
blue

In [2]:
#string iteration
for letter in "hello":
    print(letter)

h
e
l
l
o

In [3]:
#tuple iteration
my_tuple=(10,20,30)
for num in my_tuple:
    print(num)

10
20
30

In [4]:
#range iteration
#range(n) gives numbers from 0 up to(but not including)n.
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
#dictionary iteration
my_dict={"name":"Gathoni","age":22}

for key in my_dict:
    print(key)

name
age

In [6]:
#dictionary iteration where we want both key an value
my_dict={"name":"Gathoni","age":22}
for key,value in my_dict.items():
    print(key,":",value)

name : Gathoni
age : 22

### WHILE LOOP

In [7]:
count=0
while count<5:
    print("Number is",count)
    count+=1

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4

In [8]:
#print only even numbers from 1 to 10
for num in range(1,11):
    if num % 2 ==0:
        print(num)

2
4
6
8
10

In [9]:
#print only odd numbers from 1 to 10
for num in range(1,11):
    if num % 2==1:
        print(num)

1
3
5
7
9

In [10]:
#turn all names into uppercase
names=["solara", "innest","gathoni"]

for name in names:
    print(name.upper())

SOLARA
INNEST
GATHONI

In [11]:
#break and continue
for i in range(10):
    if i ==5:
        break #stops the loop entirely
    if i %2 == 0:
        continue #skip even number
    print(i)

1
3

### FUNCTION

In [17]:
greet_names(["Solara","Innest","Gathoni"]) 
def greet_names(name_list):
    for name in name_list:
        print("Hey",name +"!")

Hey Solara!
Hey Innest!
Hey Gathoni!

In [21]:
def get_even_numbers(numbers):
    evens =[]
    for num in numbers:
        if num % 2==0:
            evens.append(num)
    return evens  
result= get_even_numbers([1,2,3,4,5,6])
print(result)

[2, 4, 6]

In [23]:
#looping over arguments
repeat_words("crochet",3)
def repeat_words(word,times):
    for i in range(times):
        print(word)

crochet
crochet
crochet

In [25]:
# a little cheat code
def function_name(inputs):
    # step1: prepare empty basket if needed
    result =[]
    #step2: loop through inputs
    for item in inputs:
        #step 3: check something or do something
        if condition:
            result.append(item)
            # give back the result
    return result

### EXAMPLES

In [28]:
#Find fruits with more than 5 letters

def long_fruits(fruit_list):
    result=[]
    for fruit in fruit_list:
        if len(fruit) > 5:
            result.append(fruit)
    return result  
print(long_fruits(["banana","apple","watermelon","kiwi"]))

['banana', 'watermelon']

In [29]:
#function to capitalize song names
def cap_songs(songs):
    result=[]
    for song in songs:
        result.append(song.upper())
    return result
print(cap_songs(["hadi kesho","missed calls","robbery","forrest gump"]))

['HADI KESHO', 'MISSED CALLS', 'ROBBERY', 'FORREST GUMP']

In [32]:
#even numbers
def even_numbers(numbers):
    evens=[]
    for num in numbers:
        if num % 2==0:
            evens.append(num)
    return evens
print(even_numbers([1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [36]:
def letter_words(letters):
    result=[]
    for letter in letters:
        if len(letter) > 4:
           result.append(letter)
    return result        
print(letter_words(["beautiful","sad","amazing","spectacular"]))

['beautiful', 'amazing', 'spectacular']

In [37]:
def list_prices(prices):
    result=[]
    for price in prices:
        if price > 100:
            result.append(price)
    return result
print(list_prices([40,23,550,780,145,100]))

[550, 780, 145]